<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SD"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".pplus_activity__"
            android:exported="false" />
        <activity
            android:name=".Update_activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Add_activity"
            android:exported="false"
            android:label="Modify Grade and Quiz"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".add_grade_activity"
            android:exported="false" />
        <activity
            android:name=".AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false"
            android:theme="@style/Theme.MEMO" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>